@font-face {
  font-family: 'Masterplan';
  font-style: normal;
  font-weight: normal;
  src: url('/Users/dave-work/Desktop/stamper/fonts/billy-argel_masterplan/MASTERPLAN___.ttf') format('truetype'),
       url('/Users/dave-work/Desktop/stamper/fonts/billy-argel_masterplan/MASTERPLAN___.woff') format('woff');
}
