@font-face {
  font-family: 'Masterplan';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/billy-argel_masterplan/MASTERPLAN___.ttf') format('truetype'),
       url('/fonts/billy-argel_masterplan/MASTERPLAN___.woff') format('woff');
}

div {
  background-image: url('grid.jpg');
}
